/*hhhhh*{
  margin:0;
  padding:0;hhhhhh
}*/
h1 {
  color:greenyellow;
}
h1 {
  background-color:plum;
}
.clr{
  clear:both;
}
body{
  background-color: whitesmoke;
  color:#555555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  /*font: normal 16 px Arial, Helvetica, sans-serif;(same as above 3 lines)*/
  line-height: 1.6em;
  margin:0;
  border:5px red;
}
.box-1{
  background-color: lavenderblush;
  color:black;
  border:3px #555555 solid;
  
}
.container{
  width:80%;
  margin:auto;
}
.box-1 h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-style:italic;
  text-transform:uppercase;
  word-spacing:1em;
}
.box-2{
  border: 3px #ccc solid;
  padding:20px;
  margin:20px 0;
  background-color: teal;
}
.categories{
  border:1px #ccc solid;
  padding: 10px;
  border-radius: 15px;
}
.categories h2{
  padding:0px;
  list-style: square;
  list-style: none;

}
a{
  text-decoration: none;
  color:brown;
}
a:hover{
  color:mediumorchid;
}
a:active{
  color:lightcoral;
}
a:visited{
  color:fuchsia;
}
.categories li{
  padding-bottom: 6px;
  
}
.myform{
  padding:20px;
}
.form-group{
  padding-bottom: 15px;
}
.my-form label{
  display:block;
}
.myform input[type="text"], .myform textarea{
  padding:8px;
  width:100%;
}
.button{
  background-color:black;
  color:white;
  padding:10px 15px;
  border:none;
}
.block{
  float:left;
  width:33.3%;
  border:1px solid #ccc;
  padding:10px;
  box-sizing: border-box;
}
#main-block{
  float:left;
  width:70%;
  box-sizing: border-box;
}
#side-bar{
  float:right;
  width=30%;
  padding:15px;
  color:goldenrod;
  box-sizing: border-box;
  background-color: black;
}
.p-box{
  width:800px;
  height:500px;
  border:1px solid #ccc;
  margin-top:30px;
  position: relative;
}
.p-box h1{
  position: absolute;
  top:100px;
  left:200px;
}
.p-box h2{
    position: absolute;
    bottom:40px;
    right: 100px;
}
.fix-me{
  position: fixed;
  top:400px;
}
.my-list li:first-child{
  background-color:blueviolet ;
}
.my-list li:last-child{
  background-color: cornflowerblue;
}
.my-list li:nth-child(3){
  background-color: darkcyan;
}
.my-list li:nth-child(even){
  background-color: darksalmon;
  color:white;
}
.my-list li:nth-child(odd) {
  color:white;
}
